@model MiniprojektRAM.ViewModels.QuestionViewModel

@{
    ViewBag.Title = "SkiljeteckenQuiz";
}

<h2>SkiljeteckenQuiz</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>FärgfrågeQuiz</h4>
        <strong>@ViewBag.FeedBack</strong>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @*När man använder DisplayFor för att visa en porperty i model måste man även ha med en HiddenFor
            för att värdet ska skickas med i posten, annars nollas det till defaultvärdet och det blir det som
            skickas till post actionen.*@
        @Html.HiddenFor(model => model.CorrAnswers)

        <div class="form-group">
            @Html.LabelFor(model => model.cId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.cId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.QuestionText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QuestionText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnswerText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerText, new { htmlAttributes = new { @class = "form-control", @Value = "-" } })
                @Html.ValidationMessageFor(model => model.AnswerText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CorrAnswers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CorrAnswers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CorrAnswers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>